*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Custom CSS Properties */

:root {
  --bg: #B5C5FF;

  --c-crust: #FECFA1;
  --c-crust-edge: #FEB675;
  --c-filling: #EE2C67;
  --c-icing: #FFADB6;
  --c-red: #FF0000;
  --c-orange: #E67E22;
  --c-yellow: #F1C40F;
  --c-green: #00D411;
  --c-blue: #3F9FFC;
}

body {
  background: var(--bg);
}

.canvas {
  position: absolute;
  display: block;
  margin: auto;
  height: 300px;
  width: 300px;
  /*border: 1px dashed #000;*/
}

.crust {
  position: absolute;
  top: 15%;
  left: 23%;
  height: 200px;
  width: 150px;
  background-image: linear-gradient(var(--c-crust-edge),var(--c-crust),var(--c-crust-edge));
  border-radius: 8%;
  z-index: 1;
}

.bite {
  position: relative;
  top: 10%;
  left: 30%;
  background: var(--bg);
  height: 45px;
  width: 45px;
  border-radius: 50%;
  z-index: 3;
}

.bite::before {
  position: absolute;
  content: "";
  top: 25%;
  left: -50%;
  background: var(--bg);
  height: 40px;
  width: 40px;
  border-radius: inherit;
  z-index: 3;
}

.filling {
  position: relative;
  top: 5%;
  left: 28%;
  background: var(--c-filling);
  opacity: 0.9;
  height: 45px;
  width: 45px;
  border-radius: 50%;
  z-index: 3;
}

.filling::before {
  position: absolute;
  content: "";
  top: -20%;
  left: 60%;
  background: inherit;
  height: 30px;
  width: 30px;
  border-radius: inherit;
  z-index: inherit;
}

.filling::after {
  position: absolute;
  content: "";
  top: 20%;
  left: -10%;
  background: inherit;
  height: 20px;
  width: 20px;
  border-radius: inherit;
  z-index: inherit;
}

.icing {
  position: absolute;
  top: 17.5%;
  left: 26%;
  height: 185px;
  width: 130px;
  background: var(--c-icing);
  border-radius: 8%;
  z-index: 2;
}

.icing-overlap {
  position: relative;
  top: -6%;
  left: 26%;
  height: 32px;
  width: 32px;
  background: var(--c-icing);
  border-radius: 50%;
  z-index: 4;
}

.icing-overlap::before {
  position: absolute;
  content: "";
  top: -23%;
  left: 60%;
  height: 70px;
  width: 70px;
  background: inherit;
  border-radius: inherit;
  z-index: inherit;
}

.icing-overlap::after {
  position: absolute;
  content: "";
  top: -65%;
  left: 130%;
  height: 30px;
  width: 30px;
  background: inherit;
  border-radius: inherit;
  z-index: inherit;
}

.sprinkle {
  height: 10px;
  width: 2px;
  border-radius: 25%;
}

.s1 {
  position: relative;
  background: var(--c-red);
  top: -10%;
  left: 50%;
  z-index: 5;
}

.s1::before {
  position: absolute;
  content: "";
  top: 500%;
  left: -600%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(-45deg);
}

.s1::after {
  position: absolute;
  content: "";
  top: -300%;
  left: 1200%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(45deg);
}

.s2 {
  position: relative;
  background: var(--c-orange);
  top: -5%;
  left: 50%;
  z-index: 5;
  transform: rotate(100deg);
}

.s2::before {
  position: absolute;
  content: "";
  top: 500%;
  left: -600%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(60deg);
}

.s2::after {
  position: absolute;
  content: "";
  top: -300%;
  left: 1200%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(45deg);
}

.s3 {
  position: relative;
  background: var(--c-yellow);
  top: -2%;
  left: 35%;
  z-index: 5;
  transform: rotate(-30deg);
}

.s3::before {
  position: absolute;
  content: "";
  top: 500%;
  left: -600%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(60deg);
}

.s3::after {
  position: absolute;
  content: "";
  top: -300%;
  left: 1200%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(-40deg);
}

.s4 {
  position: relative;
  background: var(--c-green);
  top: 10%;
  left: 50%;
  z-index: 5;
  transform: rotate(90deg);
}

.s4::before {
  position: absolute;
  content: "";
  top: 500%;
  left: -600%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(60deg);
}

.s4::after {
  position: absolute;
  content: "";
  top: -300%;
  left: 1200%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(45deg);
}

.s5 {
  position: relative;
  background: var(--c-blue);
  top: 13%;
  left: 48%;
  z-index: 5;
  transform: rotate(180deg);
}

.s5::before {
  position: absolute;
  content: "";
  top: 500%;
  left: -600%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(60deg);
}

.s5::after {
  position: absolute;
  content: "";
  top: -250%;
  left: 1200%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(120deg);
}

.s6 {
  position: relative;
  background: var(--c-red);
  top: 16%;
  left: 44%;
  z-index: 5;
  transform: rotate(240deg);
}

.s6::before {
  position: absolute;
  content: "";
  top: 500%;
  left: -1000%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(180deg);
}

.s6::after {
  position: absolute;
  content: "";
  top: -250%;
  left: 1300%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(120deg);
}

.s7 {
  position: relative;
  background: var(--c-orange);
  top: -5%;
  left: 44%;
  z-index: 5;
  transform: rotate(270deg);
}

.s7::before {
  position: absolute;
  content: "";
  top: 500%;
  left: -1000%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(180deg);
}

.s7::after {
  position: absolute;
  content: "";
  top: -250%;
  left: 1300%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(120deg);
}

.s8 {
  position: relative;
  background: var(--c-yellow);
  top: -39%;
  left: 50%;
  z-index: 5;
  transform: rotate(-60deg);
}

.s8::before {
  position: absolute;
  content: "";
  top: 400%;
  left: -1000%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(90deg);
}

.s8::after {
  position: absolute;
  content: "";
  top: -70%;
  left: 1300%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(120deg);
}

.s9 {
  position: relative;
  background: var(--c-green);
  top: -39%;
  left: 48%;
  z-index: 5;
  transform: rotate(240deg);
}

.s9::before {
  position: absolute;
  content: "";
  top: 400%;
  left: -1000%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(90deg);
}

.s9::after {
  position: absolute;
  content: "";
  top: -70%;
  left: 1300%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(120deg);
}

.s10 {
  position: relative;
  background: var(--c-blue);
  top: -30%;
  left: 40%;
  z-index: 5;
  transform: rotate(230deg);
}

.s10::before {
  position: absolute;
  content: "";
  top: 400%;
  left: -1000%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(90deg);
}

.s10::after {
  position: absolute;
  content: "";
  top: -70%;
  left: 1300%;
  background: inherit;
  height: inherit;
  width: inherit;
  border-radius: inherit;
  z-index: inherit;
  transform: rotate(120deg);
}
